[Desktop Entry]
Type=Application
Name=Passwords
Comment=Your website passwords, verification codes and Wi-Fi passwords
Icon=org.goldengate.Passwords
Exec=qs -n -p @APPS@/passwords.qml
StartupWMClass=org.goldengate.Passwords
Categories=Utility;Security;
Keywords=password;passwords;keychain;login;2fa;totp;verification;code;wifi;security;
StartupNotify=false
