[Desktop Entry]
Type=Application
Name=Photos
Comment=Browse your photos and videos
Icon=multimedia-photo-viewer
Exec=sh @APPS@/photos/open.sh %f
StartupWMClass=org.goldengate.Photos
Categories=Graphics;Photography;Viewer;
Keywords=pictures;images;videos;albums;gallery;
MimeType=image/jpeg;image/png;image/webp;image/gif;image/bmp;image/tiff;image/avif;image/heic;image/heif;video/mp4;video/quicktime;video/webm;video/x-matroska;
StartupNotify=false
