[Desktop Entry]
Type=Application
Name=Install CitronOS
Comment=Install CitronOS on this Mac or PC
Icon=drive-harddisk
Exec=gg-install
Categories=System;
Keywords=install;setup;disk;
StartupNotify=true
