[Desktop Entry]
Type=Application
Name=Clock
Comment=World clocks, alarms, stopwatch and timer
Icon=org.goldengate.Clock
Exec=qs -n -p @APPS@/clock.qml
StartupWMClass=org.goldengate.Clock
Categories=Utility;Clock;
Keywords=clock;alarm;timer;stopwatch;time;
StartupNotify=false
