[Desktop Entry]
Type=Application
Name=Install Golden Gate
Comment=Install Golden Gate on this Mac or PC
Icon=drive-harddisk
Exec=gg-install
Categories=System;
Keywords=install;setup;disk;
StartupNotify=true
