[Desktop Entry]
Type=Application
Name=Files
Comment=Browse and manage files
Icon=system-file-manager
Exec=sh @APPS@/files/open.sh %U
StartupWMClass=org.goldengate.Files
Categories=System;FileTools;FileManager;
Keywords=files;folders;documents;finder;
MimeType=inode/directory;
StartupNotify=false
