[Desktop Entry]
Type=Application
Name=Maps
Comment=Find places and get directions
Icon=org.goldengate.Maps
Exec=qs -n -p @APPS@/maps.qml
StartupWMClass=org.goldengate.Maps
Categories=Utility;Maps;
Keywords=map;directions;route;navigation;places;
StartupNotify=false
