[Desktop Entry]
Type=Application
Name=TextEdit
Comment=Create and edit plain text documents
Icon=org.gnome.TextEditor
Exec=sh @APPS@/textedit/open.sh %f
StartupWMClass=org.goldengate.TextEdit
Categories=Utility;TextEditor;
Keywords=text;editor;document;plain;
MimeType=text/plain;text/markdown;application/json;
StartupNotify=false
