[Desktop Entry]
Type=Application
Name=Notes
Comment=Write notes, lists and checklists
Icon=accessories-text-editor
Exec=qs -n -p @APPS@/notes.qml
StartupWMClass=org.goldengate.Notes
Categories=Office;Utility;
Keywords=note;memo;checklist;todo;markdown;
StartupNotify=false
